[bumpversion]
current_version = 0.1.0
commit = False
tag = False

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:src/memory_mcp/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:oc-templates/overlays/preprod/kustomization.yml]
search = newTag: "{current_version}"
replace = newTag: "{new_version}"

[bumpversion:file:oc-templates/overlays/preprod-ai/kustomization.yml]
search = newTag: "{current_version}"
replace = newTag: "{new_version}"

[bumpversion:file:oc-templates/overlays/prod/kustomization.yml]
search = newTag: "{current_version}"
replace = newTag: "{new_version}"

[bumpversion:file:oc-templates/overlays/prod-ai/kustomization.yml]
search = newTag: "{current_version}"
replace = newTag: "{new_version}"

